#background-overlay {
  position: absolute;
  background: #000;
  background-size: cover;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -999;
  width: 100vw;
  height: 100vh;
}

#app-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#app-main {
  background: var(--content-bg);
  display: flex;
  flex-direction: row;
  flex: 1;
  overflow: hidden;
}

#app-top {
  height: var(--search-bar-height);
}

#app-bottom {
  height: var(--music-player-height);
}

#app-left-side {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

#app-right-side {
  flex: 1;
  overflow-y: auto;
}

body.collapsed {
  #app-main {
    flex-direction: column;
    overflow: auto;
  }

  #app-left-side,
  #app-right-side {
    flex: none;
    max-width: 100%;
  }

  #app-right-side {
    border-top: 1px solid var(--gray);
  }
}
