@import url("common.css");

.app-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.app-main {
  background: var(--content-bg);
  display: flex;
  flex-direction: row;
  flex: 1;
  overflow: hidden;
}

.left-side {
  flex: 1;
  overflow-y: auto;
}

.right-side {
  flex: 1;
  overflow-y: auto;
}

@media (max-width: 800px) {
  .app-main {
    flex-direction: column;
    overflow: auto;
  }

  .left-side, .right-side {
    flex: none;
  }

  .right-side {
    border-top: 1px solid var(--gray);
  }
}
