@import url("common.css");

.app-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.search-bar-container {
  grid-column: 1 / -1;
  grid-row: 1;
}

.full-tracks {
  grid-column: 1;
  grid-row: 2;
  overflow-y: auto;
}

.right-side {
  grid-column: 2;
  grid-row: 2;
  overflow-y: auto;
}

.music-player {
  grid-column: 1 / -1;
  grid-row: 3;
}
