:root {
    font-family: sans-serif;
    background: #fff;

    --content-bg: #fff;
    --accent-color: #0000CD;
    --accent-color-text: #FFFFFF;
    --accent-color-light: #87CEFA;
    --accent-color-light-text: #000000;

    --gray: #ccc;
    --dark-gray: #222;
    --light-gray: #ddd;

    --shadow: rgba(0, 0, 0, 0.05);
    --thumbnail-size: 56px;
    --border-radius: 4px;

    /* Spacing variables used for padding, margin */
    --s1: 0.25rem;
    --s2: 0.5rem;
    --s3: 1rem;
    --s4: 1.5rem;
    --s5: 3rem;
}
* {
  margin:0; padding:0;
  box-sizing: border-box;
}

.btn {
  background: var(--light-gray);
  cursor: pointer;
  padding: var(--s2);
  border-radius: var(--border-radius);
  border: 1px solid var(--gray);
  margin: var(--s1);
}

.icon-btn {
    background: none;
    border: none;
    font-size: 1.6rem;
    cursor: pointer;
    color: var(--dark-gray);
    padding: 0 var(--s2);

    &:hover {
      color: var(--accent-color);
    }

    &[disabled] {
      color: var(--light-gray);
      cursor: not-allowed;
    }
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: var(--s2);

  & th, & td {
    text-align: left;
    padding: var(--s1) var(--s2);
  }

  & th {
    border-bottom: 1px solid var(--gray);
  }
}

progress {
  width: 100%;
  accent-color: var(--accent-color);
}
