:root {
    font-family: sans-serif;
    background: #fff;
    --content-bg: #fff;
    --accent-color: #0000CD;
    --accent-color-light: #87CEFA;
    --accent-color-text: #000000;
    --gray: #666;
    --shadow: rgba(0, 0, 0, 0.05);
    --thumbnail-size: 56px;
}
* {
  margin:0; padding:0;
  box-sizing: border-box;
}

.icon-btn {
    background: none;
    border: none;
    font-size: 1.6rem;
    cursor: pointer;
    color: #222;
    padding: 0 8px;

    &:hover {
      color: var(--accent-color);
    }

    &[disabled] {
      color: #ccc;
      cursor: not-allowed;
    }
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 8px;

  & th, & td {
    text-align: left;
    padding: 6px 8px;
  }

  & th {
    border-bottom: 1px solid var(--gray);
  }
}

progress {
  width: 100%;
}
