:root {
  font-family: sans-serif;
  background: var(--content-bg);
  color: var(--content-color);

  --front-bg: #ffffff;
  --content-bg: #fff;
  --content-color: #000;
  --accent-color: #0000cd;
  --accent-color-text: #ffffff;
  --accent-color-light: #87cefa;
  --accent-color-light-text: #000000;

  --gray: #aaa;
  --gray-text: #000;

  --shadow: rgba(0, 0, 0, 0.05);
  --thumbnail-size: 56px;
  --border-radius: 4px;

  /* Spacing variables used for padding, margin */
  --s1: 0.25rem;
  --s2: 0.5rem;
  --s3: 1rem;
  --s4: 1.5rem;
  --s5: 3rem;

  /* Colors */
  --color-disabled: #ddd;
  --color-info: #90ee90;
  --color-front: var(--color-disabled);
  --color-front-text: #000;
}

body.dark-mode {
  background: transparent;
  color: var(--content-color);

  --front-bg: #0e0f15;
  /* --content-bg: #1c1d20; */
  --content-bg: transparent;
  --content-color: #ffffff;
  --accent-color: #10d0bd;
  --accent-color-text: #000000;
  --accent-color-light: rgba(0, 0, 0, 0.2);
  --accent-color-light-text: #c2fff9;

  --gray: #909090;
  --gray-text: #000;

  --shadow: rgba(0, 0, 0, 0.5);

  --color-disabled: #808080;
  --color-info: #2e8b57;
  --color-front: #000;
  --color-front-text: #fff;

  input {
    background: rgba(255, 255, 255, 0.2);
  }
  .tab-bar,
  .search-bar {
    border-bottom: 0 none;
  }
  /* .right-side{ border-left: 1px solid var(--gray); } */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn {
  background: var(--color-front);
  color: var(--color-front-text);
  cursor: pointer;
  padding: var(--s2);
  border-radius: var(--border-radius);
  border: 1px solid var(--gray);
  margin: var(--s1);
}

.icon-btn {
  background: none;
  border: none;
  font-size: 1.6rem;
  cursor: pointer;
  color: var(--color-gray);
  padding: 0 var(--s2);

  &:hover {
    color: var(--accent-color);
  }

  &[disabled] {
    color: var(--color-disabled);
    cursor: not-allowed;
  }
}

input {
  color: var(--content-color);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: var(--s2);

  & th,
  & td {
    text-align: left;
    padding: var(--s1) var(--s2);
  }

  & th {
    border-bottom: 1px solid var(--gray);
  }
}

progress {
  width: 100%;
  accent-color: var(--accent-color);
}

a {
  color: var(--accent-color);
}
