.context-menu {
  position: fixed;
  z-index: 1000;
  background: var(--color-bg);
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  padding: var(--s1) 0;
  min-width: 10rem;
  box-shadow: 0 0 4px var(--shadow);

  .context-menu-item {
    display: flex;
    align-items: center;
    gap: var(--s2);
    padding: var(--s2) var(--s3);
    cursor: pointer;
    font-size: small;

    &:hover {
      background: var(--color-accent);
    }
  }
}
