.context-menu {
  position: fixed;
  z-index: 99;
  background: var(--color-front);
  color: var(--color-front-text);
  border-radius: var(--border-radius);
  padding: var(--s1) 0;
  min-width: 10rem;
  outline: 1px solid var(--accent-color);

  .context-menu-item {
    display: flex;
    align-items: center;
    gap: var(--s2);
    padding: var(--s2) var(--s3);
    cursor: pointer;
    font-size: small;

    &:hover {
      background: var(--accent-color-light);
      color: var(--accent-color-light-text);
    }
  }
}
