.main-tracks-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--s2);

  .main-tracks-controls-left,
  .main-tracks-controls-right {
    display: flex;
    align-items: center;
    gap: var(--s2);
  }
}

