.music-player {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 -2px 8px var(--shadow);
  z-index: 100;

  .scrubber-bar {
    width: 100%;
    height: 4px;
    accent-color: var(--accent-color);
    cursor: pointer;
    margin: 0;
    padding: 0;
    display: block;
  }

  .player-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    padding: 0 16px;

    .player-left {
      display: flex;
      align-items: center;
    }

    .player-center {
      display: flex;
      flex-grow: 1;
      justify-content: center;

      .track {
        width: calc(min(100%, 70vw));
        .track-info > * {
          max-width: calc(100% - var(--thumbnail-size));
          text-overflow: ellipsis;
          display: block;
          overflow: hidden;
          white-space: nowrap;
        }
      }
    }

    .player-right {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .volume-slider {
        width: 90px;
        accent-color: var(--accent-color);
        cursor: pointer;
      }
    }
  }

  &.collapsed {
    .player-left {
      .btn-prev-song, .btn-next-song { display: none !important; }
    }
    .player-center {
      max-width: unset;
      .track-info > * {
        width: calc(min(50vw, 500px));
      }
    }
    .player-right {
      display: none !important;
    }
  }
}

