.search-bar {
  display: flex;
  align-items: center;
  gap: var(--s2);
  padding: var(--s3) var(--s3);
  border-bottom: 1px solid var(--gray);
  .search-input {
    flex: 1;
    padding: var(--s2) var(--s3);
    background: inherit;
    border: 1px solid var(--gray);
    border-radius: var(--border-radius);
    font-size: medium;
    outline: none;
    transition: border-color 0.2s;

    &:focus {
      border-color: var(--accent-color);
    }
  }
}
