@import url("common.css");

.settings-tab {
  padding: var(--s3);

  & h2 {
    margin-bottom: var(--s2);
    text-align: center;
  }

  & hr {
    border: none;
    border-top: 1px solid var(--gray);
    margin: var(--s3) 0;
  }
}
