@import url("common.css");

.settings-tab {
  padding: 16px;

  & h2 {
    margin-bottom: 8px;
    text-align: center;
  }

  & hr {
    border: none;
    border-top: 1px solid var(--gray);
    margin: 16px 0;
  }
}
