.track {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  padding: 8px;
  border-radius: var(--border-radius);

  &:hover, &.highlighted {
    background: var(--accent-color-light);
    color: var(--accent-color-text);
    .album {
      color: var(--accent-color-text);
    }
  }
}

.track-cover {
  width: var(--thumbnail-size);
  height: var(--thumbnail-size);
  object-fit: cover;
  border-radius: var(--border-radius);
  flex-shrink: 0;
}

.track-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.track-title {
  font-size: 1rem;
  font-weight: 500;
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.track-album {
  font-size: 0.85rem;
  color: var(--gray);
}

.track-queue-btn {
  margin-left: auto;
  flex-shrink: 0;
}
